.container{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-bottom:10px;
}

.flex-game-box, .flex-game-action {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url("../images/bj_bg.jpg") center;
    color: white;
}

.flex-game-box div{
    border: 1px solid black;
    padding: 10px;
    flex: 1; 
    height: 350px;
    text-align: center;
}
.flex-game-box img{
    width: 25%;
    padding: 5px;
}

.flex-game-action button{
    border: 1px solid black;
    margin: 10px
}

.flex-game-score-table{
   margin:10px;
}

.flex-game-score-table table, th, td{
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}